*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: black;
}
.section{
    min-height: 100vh;
    padding-top: 100px;
}
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    

}

h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: rgb(182, 222, 235);
    text-align: center;
}
.accordian{
    max-width: 700px;
    margin: auto;
    background-color: #e3eea2;

}

.accord_item{
    border: 1px solid black;
    padding: 20px;
}
.accord_title{
    display: flex;
    align-items: center;
    gap:10px;
    padding-bottom: 30px;
    color: rgb(179, 3, 3);
}
.accord_title h3{
flex: 1;
font-size: 25px;
}

.accord_title i{
    font-size: 30px;
    cursor: pointer;
}
.accord_conent{
    display: none;
}
.accord_title.active + .accord_conent{

    display: block;
}
.accord_conent p{
    font-size: 25px;
    color: #1b730a;
}
.accord_title.active i{
    transform: rotate(180deg);
   color: #1b730a
}

